<div class="container">
    <div class="jumbotron">
        <h1>{{ project.name }}</h1>
        <p>{{ project.desc }}</p>
    </div>

    <h2>Задание</h2>

    <h3>Страницы</h3>

    {% if project.tasks.pages %}
            {% for page in project.tasks.pages %}
                <h4>
                    {{ page.sid }}
                </h4>

                {% set workPage = project.work.getPage(page.sid) %}
                <p>Файл: {{ workPage.file }}</p>
                <p>Ссылка:
                    {% if workPage.fileExists %}
                        <a href="{{ workPage.url }}">{{ workPage.url }}</a>
                    {% else %}
                    Страница еще не создана.
                {% endif %}
                </p>

                <div class="row">
                    {% for preview in page.previews %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <div style="height: 200px; overflow: hidden">
                                    {#<a href=" \yii\helpers\Url::to(['site/page-preview', 'pageSid' => $page['sid'], 'previewSid' => $preview['sid']]) ?>">#}
                                    {% set imgUrl = Url.to({0: 'project/show-preview-image', projectSid: project.sid, designSid: preview.design.sid, previewSid: preview.sid }) %}
                                    <a href="{{ imgUrl }}">
                                        <img style="max-width: 100%" src="{{ imgUrl }}">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h3>{{ preview.sid }}</h3>
                                    <p>Файл: {{ preview['file'] }}</p>
                                    <p>Ширина: {{ preview['width'] }} px</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
    {% else %}
        <p>Заданий по страницам нет.</p>
    {% endif %}

    <h2>Страницы в html</h2>

    {% if project.pages %}
        <ul>
            {% for sid, url in project.pages %}
                <li><a href="{{ url }}">{{ sid }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Страниц нет.</p>
    {% endif %}

    <h2>Дизайн-макеты</h2>

    {% if not project.designs %}
        <p>Отсутвуют.</p>
    {% else %}
        {% for design in project.designs %}
        <h3>{{ design.sid }}</h3>
        <div class="row">
            {% for preview in design.previews %}
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <div style="height: 200px; overflow: hidden">
                        {#<a href=" \yii\helpers\Url::to(['site/page-preview', 'pageSid' => $page['sid'], 'previewSid' => $preview['sid']]) ?>">#}
                        <a href="#">
                            <img style="max-width: 100%" src="{{ Url.to({0: 'project/show-preview-image', projectSid: project.sid, designSid: design.sid, previewSid: preview.sid }) }}">
                        </a>
                    </div>
                    <div class="caption">
                        <h3>{{ design.sid }}{{ preview.sid }}</h3>
                        <p>Файл: {{ preview['file'] }}</p>
                        <p>Ширина: {{ preview['width'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    {% endif %}
</div>