<div class="container">
    <div class="jumbotron">
        <h1>{{ project.name }}</h1>
        <p>{{ project.desc }}</p>
    </div>

    <h2>Задание</h2>

    <h3>Виджеты</h3>

    {% set previews = project.tasks.previewsWithWidgets %}
    {% if previews %}
        <h4>Все виджеты по страницам</h4>
        {% for preview in previews %}
            <a href="{{ Url.to({0: 'project/show-preview-widgets', projectSid: project.sid, previewSid: preview.sid, designSid: preview.design.sid }) }}">
                {{ preview.qid }}
            </a>
        {% endfor %}
    {% endif %}

    {% if project.tasks.widgets %}
        <div class="row">

            {% for widget in project.tasks.widgets %}
                {% set workWidget = project.work.getWidget(widget.sid) %}
                <div class="col-xs-6">
                    {% if workWidget.fileExists %}
                        <h4 class="bg-success">
                            <a href="{{ Url.to({0: 'project/show-widget-live', projectSid: project.sid, widgetSid: widget.sid}) }}">
                                {{ widget.sid }}
                            </a>
                        </h4>
                    {% else %}
                        <h4 class="bg-danger">
                            {{ widget.sid }}
                        </h4>
                    {% endif %}

                    <p>Файл: {{ workWidget.getFile('@root') }}</p>
                    <p>Требования:
                        {% if widget.requirementNames %}
                            {{ widget.requirementNames|join(', ') }}

                            <a href="{{ Url.to({0: 'project/show-widget-requirements', projectSid: project.sid, widgetSid: widget.sid }) }}">
                                подробнее »
                            </a>
                        {% else %}
                            нет
                        {% endif %}
                    </p>

                    {% if widget.previews %}
                        Примеры на страницах:
                        {% for preview in widget.previews %}
                            {% set previewUrl = widget.getPreviewUrl(preview) %}
                            <a href="{{ previewUrl }}">
                                {{ preview.design.sid }}.{{ preview.sid }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>Заданий по виджетам нет.</p>
    {% endif %}

    <h3>Страницы</h3>

    {% if project.tasks.pages %}
        {% for page in project.tasks.pages %}
            {% set workPage = project.work.getPage(page.sid) %}

            {% if workPage.fileExists %}
                <h4 class="bg-success">
                    <a href="{{ workPage.url }}">
                        {{ page.sid }}
                    </a>
                </h4>
            {% else %}
                <h4 class="bg-danger">
                    {{ page.sid }}
                </h4>
            {% endif %}

            <p>Файл: {{ workPage.getFile('@root') }}</p>

            <div class="row">
                {% for preview in page.previews %}
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <div style="height: 200px; overflow: hidden">
                                {#<a href=" \yii\helpers\Url::to(['site/page-preview', 'pageSid' => $page['sid'], 'previewSid' => $preview['sid']]) ?>">#}
                                {% set imgUrl = preview.getImageUrl() %}
                                <a href="{{ imgUrl }}">
                                    <img style="max-width: 100%" src="{{ imgUrl }}">
                                </a>
                            </div>
                            <div class="caption">
                                <h3>{{ preview.sid }}</h3>
                                <p>Файл: {{ preview['file'] }}</p>
                                <p>Ширина: {{ preview['width'] }} px</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>Заданий по страницам нет.</p>
    {% endif %}


</div>