<div class="container demo-page-features">

    <h1>Возможности шаблона</h1>

    <p>Шаблон позволяет создавать
        <a href="#projects">проекты</a>,
        а в рамках проекта верстать
        <a href="#pages">страницы</a>
        и
        <a href="#widgets">виджеты</a>.
        Каждой странице или виджету могут принадлежать свои js/css/картинки.
        Также есть
        <a href="#global-css">общий CSS</a>, который подключается для всех страниц.
    </p>

    {#<div id="brief">#}
    {#{{ Markdown.process(this.render('brief.md'), 'gfm') }}#}
    {#</div>#}

    <div id="projects">
        {{ Markdown.process(this.render('projects.md'), 'gfm') }}
    </div>

    <div id="pages">
        {{ Markdown.process(this.render('pages.md'), 'gfm') }}
    </div>

    <div id="widgets">
        {{ Markdown.process(this.render('widgets.md'), 'gfm') }}

        <h3>Пример виждета</h3>

        <p>Это виджет <code>product-card</code> в этом проекте. Он вызван 4 раза, чтобы показать 4 карточки товара.
            В одном случае он вызван с дополнительным параметром <code>-disabled</code> для изменения внешнего вида.
            Особенности отображения <code>-disabled</code> описаны в CSS виджета.
        </p>

        <ul>
            <li>HTML виджета: <code>projects/demo/src/widgets/product-card/product-card.html.twig</code></li>
            <li>CSS виджета: <code>projects/demo/src/widgets/product-card/product-card.css</code></li>
            <li>Картинка виджета: <code>projects/demo/src/widgets/product-card/apple.jpg</code></li>
            <li>Вставлен в код с помощью:
                <code>{{ "{{ widget('product-card') }}" }}</code>
                и
                <code>{{ "{{ widget('product-card', '-disabled') }}" }}</code>
            </li>
        </ul>

        <div class="row demo-page-index-products">
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card', '-disabled') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
        </div>

    </div>


</div>


