<div class="container demo-page-features">

    <h1>Возможности шаблона</h1>

    <p>Шаблон позволяет создавать
        <a href="#projects">проекты</a>,
        а в рамках проекта верстать
        <a href="#pages">страницы</a>
        и
        <a href="#widgets">виджеты</a>.
        Каждой странице или виджету могут принадлежать свои js/css/картинки.
        Также есть
        <a href="#global-css">общий CSS</a>, который подключается для всех страниц.
    </p>

    <div id="projects">
    {{ Markdown.process(this.render('projects.md'), 'gfm') }}
    </div>
    <div id="pages">
    {{ Markdown.process(this.render('pages.md'), 'gfm') }}
    </div>

        <div class=demo-page-index-header>
            <h1>Заголовок страницы (компонент) (с картинкой в css)</h1>
        </div>

        <br>

        <button class="btn -purple">Нажми меня</button>

        <br>
        <br>

        <div class="row demo-page-index-products">
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card', '-disabled') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
            <div class="col-xs-3">
                {{ widget('product-card') }}
            </div>
        </div>

        Пример стандартной страницы - блок в адаптивном контейнере.
        <p>Картинка на этой странице, находится в <code>web/frontend/example/...</code>,
            url будет <code>/frontend/example/...</code>
            <img src="stamp.png" style="width: 200px;"></p>
    </div>


<div class="container-fluid">
    Пример стандартной страницы - блок во всю ширину.
</div>

