{{ register_asset_bundle('main\\assets\\review\\compare\\ReviewCompareAsset') }}
<style>
    .compare-header {
        z-index: 1;
        position: relative;
        background-color: #FFF;
    }
    .compare-header > header {
        font-size: 15px; line-height: 1;
        height: 25px;
        border-bottom: 1px solid #ccc; padding: 5px 0; margin-bottom: 35px;
    }
    .compare-header > header > * {
        display: block;
    }
    .compare-header > header > left {
        text-align: right;
    }
    .compare-header > header > * > .this {
        font-weight: bold;
        border-bottom: 1px dashed #333;
        cursor: pointer;
    }

    .compare-header > .data > * {
        display: block;
    }
    .compare-header > .data > left {
        text-align: right;
    }
    .compare-screenshot > showcase {
        display: block;
    }
    .compare-screenshot > showcase > * {
        display: block;
        height: calc(100vh - 65px);
        overflow: scroll;
        border: 1px dotted #ccc;
        background-color: #EFEFEF;
    }
    .compare-screenshot > showcase > left {
        /* https://stackoverflow.com/a/18998575/1775065 */
        direction: rtl;
    }
    .compare-screenshot > showcase > * > img {
        display: block;
        max-width: 100%;
        margin-bottom: 500px;
    }
</style>

<div class="container-fluid compare-header">
    <header class="row">
        <left class="col-xs-6">
            {% for other_page in pages|keys %}
                {% if other_page == name %}
                    <span class="this" data-toggle="collapse" data-target="#compare-header__data">{{ name }}</span>
                {% else %}
                    <a href="{{ Url.toRoute({0: 'review/compare', name: other_page, width: width }) }}">{{ other_page }}</a>
                {% endif %}
            {% endfor %}
            {{ width }}px
            (design)
        </left>
        <right class="col-xs-6">
            (live)
            <a href="{{ Url.toRoute({0: 'template/page', page: name }) }}">
                {{ name }}</a>
            {% for other_width in pages[name] %}
                {% if other_width == width %}
                    <span class="this" data-toggle="collapse" data-target="#compare-header__data">{{ width }}</span>
                {% else %}
                    <a href="{{ Url.toRoute({0: 'review/compare', width: other_width, name: name}) }}">{{ other_width }}</a>
                {% endif %}
            {% endfor %}
        </right>
    </header>
    <div class="data row collapse" id="compare-header__data">
        <left class="col-xs-6">
            {% if other_design_files %}
                {% for file in other_design_files %}
                    <a href="/review/design/{{ name }}/other/{{ file }}">{{ file }}</a>
                {% endfor %}
            {% endif %}
            {% if other_global_design_files %}
                {% for file in other_global_design_files %}
                    <a href="/review/design/_other/{{ file }}">{{ file }}</a>
                {% endfor %}
            {% endif %}
        </left>
        <right class="col-xs-6">
            {% if other_live_files %}
                {% for type, file in other_live_files %}
                    <a href="{{ Url.toRoute({0: 'review/compare', name: name, width: width, type: type }) }}">{{ file }}</a>
                {% endfor %}
            {% endif %}
        </right>
    </div>
</div>

<div class="container-fluid compare-screenshot">
    <showcase class="row">
        <left class="col-xs-6">
            <img src="{{ design }}" data-object="left">
        </left>
        <right class="col-xs-6 text-left">
            <img src="{{ live }}" data-object="right">
        </right>
    </showcase>
</div>
